@keyframes anima-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media (prefers-reduced-motion: no-preference) {
    .anima-spin {
        animation: anima-spin infinite 3s linear;
    }
}


@keyframes anima-scaleUp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.4);
    }
}

@media (prefers-reduced-motion: no-preference) {

    .anima-scaleUp:hover,
    .anima-scaleUp:active {
        animation: anima-scaleUp 1.5s forwards;
    }
}

