// Variables
$font-family: "Titillium";

$Blue: #61A3BA;
$Grey: #5c667e;
$Dark-bg: #232940;
$Green: #7ab429;
$Light-green:#A2C579;
$Light-grey:#bdc5d5;
$Light-bg:#FFFFDD;
$Yellow-green:#D2DE32;

$mobile-breakpoint: 375px;
$tab-breakpoint: 768px;
$desktop-breakpoint: 1280px;



