@use "../../../styles/partials/global" as *;
@use "../../../styles/partials/variables" as *;
@use"../../../styles/partials/animation" as *;


a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a {
    text-decoration: none;
}

div {
    padding-right: 2rem;
}


.anima-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: $Green;

    &-logo {
        width: 3rem;
        margin: 1rem;
        margin-left: 3rem;
    }

}

.button-container {
    display: flex;
    flex-direction: row;
    button {
        border: none;
        padding: 0.6rem 2rem;
        border-radius: 30px;
        font-size: 1rem;
        font-weight: 600;
       
        background-color: #A2C579;
        color: white;

        &:hover {
            background-color: #f6fcea;
            color: black;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        }

    }
}