@use "../../../styles/partials/global" as *;
@use "../../../styles/partials/variables" as *;
@use"../../../styles/partials/animation" as *;





.form-container {

    select {
        padding: 0.8rem 1rem;
        font-size: 1.1rem;
        border-radius: 10px;
        border: none;
        background-color: #f3f2f2;
        width: 18rem;
        margin: 0.8rem 0;
        color: #22360f;
        font-size: 600;

        &::placeholder {
            padding-left: 0.5rem;
        }

        &:hover,
        &:active &:focus {
            background-color: #cde2b8;

            &::placeholder {
                color: white;
                padding-left: 0.5rem;
            }
        }

        &:focus {
            border: none;
            outline: none;
        }
    }

}



