@use "../../../styles/partials/global" as *;
@use "../../../styles/partials/variables" as *;
@use"../../../styles/partials/animation" as *;


.calendar {
    .button-container-calendar {
        display: none
    }
 
    &-container {
        padding-top: 6rem;
        background-color: rgba(252, 247, 215, 0.25) ;    
        
        .add-class{
            margin-left: 3rem;
        }

        .delete-class{
            margin-left: 1rem;
        }

        .add-class, .delete-class {
            border: none;
            border-radius: 5px;
            font-size: 1.1rem;
            font-weight: 600;
            padding: 0.2rem 1rem;
            width: 8rem;
            background-color:$Green;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            margin-right: 1rem;
            color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

            &:hover {
                background-color: rgb(243, 243, 242);
                color: $Green;
                font-weight: 700;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            }
        }

        .fullCalender {
            padding:0 3rem;
            
            .fc-toolbar-chunk,
            .fc-button-group{
                padding-right: 0;
            }

            button.fc-timeGridDay-button.fc-button.fc-button-primary.fc-button-active,
            button.fc-timeGridDay-button.fc-button.fc-button-primary{
                width: 4rem;
            }

            .fc-timegrid-axis-frame.fc-scrollgrid-shrink-frame.fc-timegrid-axis-frame-liquid{
                padding-right: 0;
            }
            
        }
    }

}